{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 8
    },
    "rules": {
        "quotes": [2, "single", { "allowTemplateLiterals": true }]
    },
    "env": {
        "node": true,
        "es6": true
    }
}
