language: node_js
env:
  - NODE_ENV=travis
node_js:
  - "8"
  - "10"
  - "node"
sudo: false
cache:
  directories:
    - node_modules
script:
  - npm run lint
  - npm test
after_script:
  - npm run coveralls
